@import "colors";

html {

  &.light {
    color: $dark;
  }

  &.dark {
    color: $light;
  }
}

body {
  font-family: "Roboto mono", sans-serif;
  letter-spacing: .35mm;

  a {
    transition: 100ms;

    &:hover {
      opacity: .75;
    }
  }
}