@import "colors";

html {
  scroll-behavior: smooth;

  &.light {
    color: $dark;
    fill: $dark;
  }

  &.dark {
    color: $light;
    fill: $light;
  }
}

body {
  font-family: "Roboto mono", sans-serif;
  letter-spacing: .35mm;

  a {
    transition: 100ms;

    &:hover {
      opacity: .75;
    }
  }
}

// Nuxt page transition
.page-enter-active,
.page-leave-active {
  transition: all .15s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}